<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin panel</title>
    <style>
        body {
            background: #fafffe;
        }
    </style>
</head>


<body>

<!--Начало общего container-fluid-->
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">
            <span th:text="${userAdmin.getUsername()}"> VALUE </span> with roles:
            <span th:text="${userAdmin.getRoles()}"> VALUE </span>
        </span>
        <span class="navbar-text">
            <form th:action="@{/logout}" method="POST">
                <button type="submit" class="btn btn-dark" role="button">Logout</button>
            </form>
        </span>
    </nav>

    <br><br><br><br>

    <!--Начало row-->
    <div class="row">
        <!-- Кнопки панели слева -->
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <!-- Конец кнопок панели слева -->

        <!-- Содержание кнопок панели правая часть сайта -->
        <div class="col-md-10">
            <!-- Начало таб контента Admin и User -->
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Вкладка id="v-pills-admin" -->
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div class="container-fluid">
                        <h1> Admin panel </h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="userTableSwitch" class="nav-link active" href="#tab1" data-toggle="tab">
                                    Users table
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="newUserSwitch" class="nav-link" href="#tab2" data-toggle="tab">
                                    New user
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Контейнер для содержимого двух вкладок All users и New user -->
                    <div class="container-fluid">
                        <!-- Начало таб контента All users и New user -->
                        <div class="tab-content">
                            <!-- Первая вкладка tab1 All users -->
                            <div class="tab-pane active" id="tab1">
                                <div class="card">
                                    <!-- Шапка для вкладки tab1 All users -->
                                    <div class="card-header">
                                        <div class="m-1">
                                            <h4>All users</h4>
                                        </div>
                                    </div>
                                    <!-- Конец шапки для вкладки tab1 All users -->

                                    <!-- Тело для вкладки tab1 All users -->
                                    <div class="card-body" bg-primary text-white>
                                        <!-- Таблица All users -->
                                        <div class="table-responsive">
                                            <table id="usersTab" class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="usersTabRow"></tbody>
                                            </table>
                                        </div>
                                        <!-- Конец таблицы All users -->
                                    </div>
                                    <!-- Конец тела для вкладки tab1 All users -->
                                </div>
                            </div>
                            <!-- Конец первой вкладки tab1 All users -->

                            <!-- Вторая вкладка tab2 Add new user -->
                            <div id="tab2" class="tab-pane">
                                <div class="card">
                                    <!-- Шапка для вкладки tab2 Add new user -->
                                    <div class="card-header">
                                        <div class="m-1">
                                            <h4>Add new user</h4>
                                        </div>
                                    </div>
                                    <!-- Конец шапки для вкладки tab2 Add new user -->


                                    <!-- Тело для вкладки tab2 Add new user -->
                                    <div class="card-body" bg-primary text-white>
                                        <!-- Контейнер с содержанием для формы Add new user -->
                                        <div class="container">
                                            <div class="text-center">
                                                <form id="defaultAddForm"
                                                      role="form" style="max-width:300px;margin:auto;">
                                                    <div class="form-group">
                                                        <label><b>First name</b></label>
                                                        <input type="text" class="form-control"
                                                               id="addNewUserFirstName"
                                                               placeholder="First name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><b>Last name</b></label>
                                                        <input type="text" class="form-control"
                                                               id="addNewUserLastName"
                                                               placeholder="Last name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><b>Age</b></label>
                                                        <input type="number" class="form-control"
                                                               id="addNewUserAge"
                                                               placeholder="Age">
                                                    </div>
                                                    <div class="form-group">
                                                        <label><b>Email</b></label>
                                                        <input type="email" class="form-control"
                                                               id="addNewUserEmail"
                                                               placeholder="Email" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label><b>Password</b></label>
                                                        <input type="password" class="form-control"
                                                               id="addNewUserPassword"
                                                               placeholder="Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label><b>Role</b></label>
                                                        <select multiple class="form-control form-control-sm"
                                                                id="addNewUserRoles"
                                                                name="roles" size="2">
                                                        </select>
                                                    </div>
                                                    <button id="addNewUserBtn"
                                                            type="submit" class="btn btn-success">Add new user
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Конец контейнера с содержанием для формы Add new user -->
                                    </div>
                                    <!-- Конец тела для вкладки tab2 Add new user -->
                                </div>
                            </div>
                            <!-- Конец второй вкладки tab2 Add new user -->
                        </div>
                    </div>
                    <!-- Конец контейнера для содержимого двух вкладок от id="v-pills-admin" -->
                </div>
                <!-- Конец вкладки с id="v-pills-admin" -->

                <!--Макет дефолтного модального окна  EDIT -->
                <div class="modal" id="modalEdit" tabindex="-1"
                     role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
                    <form id="modalEditForm">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEditLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close" onclick="clearSelectFormEdit()"
                                            id="exitModalEdit">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Тело модального окна от модальной кнопки delete -->
                                <div class="modal-body">
                                    <div class="text-center">
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>ID</b></label>
                                            <input type="number" class="form-control"
                                                   id="modalEditId" disabled>
                                        </div>

                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>First name</b></label>
                                            <input type="text" class="form-control"
                                                   name="firstName" id="modalEditFirstName">
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Last name</b></label>
                                            <input type="text" class="form-control"
                                                   name="lastName" id="modalEditLastName">
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Age</b></label>
                                            <input type="number" min="1" max="150"
                                                   step="1" class="form-control"
                                                   name="age" id="modalEditAge">
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Email</b></label>
                                            <input type="text" class="form-control"
                                                   name="username" id="modalEditUsername">
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Password</b></label>
                                            <input type="password" class="form-control"
                                                   name="password" id="modalEditPassword">
                                        </div>
                                        <div class="form-group mx-auto editDivSel" style="width:200px">
                                            <label for="modalEditRoles"><b>Role</b></label>
                                            <select multiple class="form-control form-control-sm"
                                                    id="modalEditRoles"
                                                    name="roles" size="2">
                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearSelectFormEdit()">Close</button>
                                    <button type="submit" class="btn btn-primary" id="modalEditBtnSuccess">Edit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Конец макета дефолтного модального окна -->

                <!--Макет дефолтного модального окна  DELETE -->
                <div class="modal" id="modalDelete" tabindex="-1"
                     role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                    <form id="modalDeleteForm">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close" id="exitModalDelete">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Тело модального окна от модальной кнопки delete -->
                                <div class="modal-body">
                                    <div class="text-center">
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>ID</b></label>
                                            <input type="number" class="form-control"
                                                   id="modalDeleteId" disabled>
                                        </div>

                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>First name</b></label>
                                            <input type="text" class="form-control"
                                                   name="firstName" id="modalDeleteFirstName" disabled>
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Last name</b></label>
                                            <input type="text" class="form-control"
                                                   name="lastName" id="modalDeleteLastName" disabled>
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Age</b></label>
                                            <input type="number" min="1" max="150"
                                                   step="1" class="form-control"
                                                   name="age" id="modalDeleteAge" disabled>
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Email</b></label>
                                            <input type="text" class="form-control"
                                                   name="username" id="modalDeleteUsername" disabled>
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label><b>Password</b></label>
                                            <input type="password" class="form-control"
                                                   name="password" id="modalDeletePassword" disabled>
                                        </div>
                                        <div class="form-group mx-auto" style="width:200px">
                                            <label for="modalEditRoles"><b>Role</b></label>
                                            <select multiple class="form-control form-control-sm"
                                                    id="modalDeleteRoles"
                                                    name="roles" size="2" disabled>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger" id="modalDeleteBtnSuccess">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Конец макета дефолтного модального окна -->

                <!-- Вкладка с id="v-pills-user" -->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <!-- Контейнер для содержимого вкладки от id="v-pills-user" -->
                    <div class="container-fluid">
                        <h1> User information-page </h1>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>About user</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <!-- Страница информации юзера  -->
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="currentUserRow"></tbody>
                                </table>
                                <!-- Конец страницы информации юзера  -->
                            </div>
                        </div>
                    </div>
                    <!-- Конец контейнера для содержимого вкладки от id="v-pills-user" -->
                </div>
                <!-- Конец вкладки с id="v-pills-user" -->
            </div>
            <!-- Конец таб контента Admin и User -->
        </div>
        <!-- Конец содержание кнопок панели правая часть сайта -->
    </div>
    <!--Конец row-->
</div>
<!--Конец общего container-fluid-->

<!-- JavaScript connecting --->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>

</body>
</html>